body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}
